<!DOCTYPE html>
<html>
<head>
  <title>PushTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script src="https://js.pusher.com/2.2/pusher.min.js"></script>
<body>

<%= yield %>

</body>
</html>
